version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: propusk_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - propusk_db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: propusk_app
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
    env_file:
      - .env

volumes:
  propusk_db_data:
